<h1>Results</h1>
<ul>
  <% @results.each do |result| %>
     <li>
      <%= result.campaign.id %>
      <%= result.campaign.name %>
      <%= result.cuepoint.id %>
      <%= result.cuepoint.name %>
      <%= result.count_start %>
      <%= result.count_complete %>
     </li>
  <% end %>
</ul>